* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

body {
    background-color: #1A0B2E;

}

/* shared styles */
.btn-gradient {
    border: none;
    border-radius: 10000px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    background: linear-gradient(90deg,
            #ffb347,
            #ff5acd,
            #8a2be2);

}

/* header styles */
.header {
    width: 100%;
    background-color: #1A0B2E;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
}

.hamburger-icon {
    display: none;
    cursor: pointer;
}

hr {
    border: none;
    height: 1px;
    background-color: #ffffff33;
    margin: 0;
}

.logo h1 {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 700;
}

.logo .wave,
.footer-logo .wave {
    font-size: 1.8rem;
    font-weight: 700;
    background: linear-gradient(50deg,
            #F7E93F,
            #FB09B4,
            #9100F8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
}

/* hero secton */
.hero-section {
    background: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.mic-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.microphone {
    position: absolute;

}

.new {
    position: absolute;
    top: 10px;
    right: 8rem;
    background-color: #00FF88;
    color: #000000;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    border: none;
    box-shadow: #00000033 0px 4px 6px -1px, #0000001a 0px 2px 4px -1px;
}

.hero-content {
    text-align: center;
    color: #ffffff;
    margin-top: 5rem;
}

.hero-content h2 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffffd7;
    margin-bottom: 2rem;

}

.btn-gradient2 {
    border: 1px solid #00FF88;
    border-radius: 10000px;
    cursor: pointer;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    background: #1A0B2E;
}

.spotify {
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    display: inline-flex;
    align-items: center;
    margin: 1rem 1rem;

}

/* main section */
main {
    background: #1A0B2E;
    margin-top: 3rem;

}

.t {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 3rem; */
}

.about-title {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.about-section p {
    text-align: center;
    color: #ffffffd1;
    font-size: 1rem;
    font-weight: 400;
    /* margin-bottom: 10rem; */
    line-height: 1.5;
    max-width: 50rem;
    margin-bottom: 4rem;
    justify-self: center;
}

.about-card-container {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: space-around;
    /* margin-top: 2rem; */
    /* margin: 2rem auto 2rem auto; */
    max-width: 75%;
    margin: 2rem auto 4rem auto;

}

.card-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #00FF88;
}

.card p {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffffd1;
    line-height: 1.5;

}

.card {
    margin: 3rem auto;
}

/* tech section  */
.tech-section {
    background: #230E3D;
    margin: 3rem 0;
}

.tech-container {
    max-width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: space-around;
    margin: 0 auto;
    align-content: center;
    padding: 2rem 0;
}

.row-card {
    grid-row: span 2;

}

.col-card {
    grid-column: span 2;
}

.tech-card {
    border: none;
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    background: rgba(53, 17, 101, 0.4);
    align-content: center;

}

.tech-card h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;

    color: #ffffff;
}

.tech-card p {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffffd1;
    line-height: 1.5;
}

.tech-title {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
    top: 1.5rem;

}

/* featured cont */
.feature h3 {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.feature-cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: space-around;
    max-width: 75%;
    margin: 0 auto;
}

.feature-card {
    border: none;
    border-radius: 2.5rem;
    background: #230E3D;
    align-content: center;


}

.feature-card iframe {
    border: none;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    width: 100%;
    aspect-ratio: 16 / 9;

}

.feature-card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
    color: #ffffff;
    text-align: start;
}

.feature-card p {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffffd1;
    line-height: 1.5;
    margin: 1rem;
    text-align: start;

}

.feature .feature-cont .feature-card .time {
    font-size: 1rem;
    font-weight: 700;
    color: #00FF88;
    margin: 1rem;
    align-items: center;
}

/* host section  */
.host-section {
    background: #1A0B2E;
    margin: 3rem 0;

}

.host-section>h2 {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.host-cont {
    background: #230E3D;
    border: none;
    border-radius: 2.5rem;
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    padding: 2rem;
}

.host-details h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #ffffff;
}

.host-details p {
    font-size: 1rem;
    font-weight: 400;
    color: #ffffffd1;
    line-height: 1.5;
    margin-bottom: 2rem;

}

.host-icon-cont {
    display: flex;
    gap: 1rem;
}

.icon {
    border: 2px solid #ffffff33;
    border-radius: 50%;
}

.icon img {
    padding: 0.5rem;
    width: 2.25rem;
    height: 2rem;
    cursor: pointer;
}

/* footer section */
.footer-banner {
    background: url('./assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2rem;
    /* min-height: 45rem; */
    width: 100%;
   
}

.footer-logo h1 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;

}

.footer-logo .wave {
    font-size: 3rem;
    font-weight: 700;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

.footer-icon-cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-icon {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.footer-icon p {
    color: #ffffffc7;
    font-size: 1rem;
}

.footer-content p {
    color: #ffffff99;
    font-size: 1rem;
    margin: 1rem 0;
}

/* responsive design  */


@media (max-width: 576px) {
    .menu {
        display: none;
    }

    .hamburger-icon {
        display: block;
        position: absolute;
        top: 1rem;
        right: 3rem;
    }

    #btn {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .hero-section {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        padding: 1rem 1rem;
        min-height: 15rem;
        height: auto;
    }

    .mic-section .circle {
        width: 12rem;
        height: 12rem;
    }

    .mic-section {
        position: relative;
        /* margin: 1rem;
        padding: 1rem; */
        margin-top: 5rem;
    }


    .microphone {
        width: 4rem;
        /* height: 4rem; */

    }

    .hero-content h2 {
        font-size: 2rem;
        font-weight: 800;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding: 0 1rem;
    }

    .hero-content p {
        margin-bottom: 0.5rem;

    }

    .spotify {

        padding: 0.75rem;
        gap: 0.75rem;
        display: inline-flex;
        margin: 0.5rem 0.5rem;
        /* display: inline-block; */

    }

    .about-card-container {

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        justify-content: space-around;
        margin-bottom: 1rem;
        margin-top: 1rem;
        max-width: 90%;
    }

    .hero-content {
        margin-top: 1rem;
    }

    .new {
        right: 4rem;
        top: 1.5rem;
    }

    .about-title {
        font-size: 2rem;
        font-weight: 700;
        /* margin-top: 1rem; */
    }

    .about-section p {
        text-align: center;
        margin-bottom: 1rem;
    }

    .tech-container {
        max-width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.75rem;
        /* justify-content: space-around;
    margin: 0 auto;
    align-content: center;
    padding: 2rem 0; */
    }

    .card-title,
    .feature h3,
    .tech-title,
    .footer-logo .wave,
    .footer-logo h1 {
        font-size: 2rem;
    }

    .tech-card h3,
    .feature-card h3,
    .host-details h2 {
        font-size: 1.5rem;
    }

    .feature-cont {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;

        max-width: 95%;
    }

    .host-section>h2 {

        font-size: 2rem;
        font-weight: 800;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .host-cont {
        background: #230E3D;
        border: none;
        border-radius: 2.5rem;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
    }

    .host-details {
        text-align: center;
        align-content: center;
    }

    .host-icon-cont {
        display: flex;
        align-items: center;
        justify-content: center;
    }

  .footer-banner {
        background: url('./assets/footer-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 2rem;
        /* min-height: 45rem; */
        width: 100%;
        padding: 1rem 1rem;
        min-height: 15rem;
        height: auto;
    }


    .footer-content {
        padding: 2rem 0;
        position: relative;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .footer-content p , .footer-copy {
        font-size: 0.875rem;
        margin: 0.5rem 0;
    }

    .footer-icon-cont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap:0.5rem; */
        margin: 0 ;
    }
    
}